{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Job Offer Analysis</title>
</head>
<link rel="stylesheet" href="{% static 'Dashboard/style.css' %}">
<menu>
    <div class="custom-logo-container">
        <span class="custom-logo">mISIe</span>
    </div>
    <br>
    <a href="{% url 'Dashboard:job_offer_analysis' %}" class="btn btn-secondary">Job Offer Analysis</a>
    <a href="{% url 'Dashboard:overall_analysis' %}" class="btn btn-secondary">Overall Analysis</a>
</menu>
<body>
    <h1>Job Offer Analysis</h1>
    <div class="form-container">
        <form method="post" class="submit-form">
            {% csrf_token %}
            <label for="link">Enter job offer link:</label>
            <div class="input-container">
                <input type="url" name="link" id="link" required>
                <input type="submit" value="Submit" class="submit-button">
            </div>
        </form>
    </div>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
    {% if not_required_pages %}
        <p>{{ not_required_pages }}</p>
    {% endif %}

    
    {% if correct_link %}
        <h2>Risk Value</h2>
        <form method="post" class="submit-form">
            {% csrf_token %}
            <input type="hidden" name="link" value="{{ job_offer_info.link }}">
            <label for="risk">Risk value (1-5):</label>
            <input type="number" name="risk" id="risk" min="1" max="5" required>
            <br>
            <input type="submit" value="Submit Risk Value">
        </form>
    {% endif %}
    
    <h2>Information</h2>
        <div class="container">
            {% if job_offer_info %}
            <div class="box probability" style="background-color: {% if predict_flag_value == 1 %}#5de57b{% else %}#ef5c4c{% endif %};">
                <h3>Predict Flag</h3>
                <p>{{ job_offer_info.Predict_Flag }}</p>
            </div>
            <div class="box probability">
                <h3>Predict Probability</h3>
                <p>{{ job_offer_info.Predict_Prob }}</p>
            </div>
            <div class="box probability">
                <h3>Risk Value</h3>
                <p>{{ job_offer_info.risk_value }}</p>
            </div>
            <div class="box">
                <h3>TF-IDF Sum</h3>
                <p>{{ job_offer_info.tfidf_sum }}</p>
            </div>
            <div class="box">
                <h3>TF-IDF Mean</h3>
                <p>{{ job_offer_info.tfidf_mean }}</p>
            </div>
            <div class="box">
                <h3>Emotions Sum</h3>
                <p>{{ job_offer_info.emotions_sum }}</p>
            </div>
            <div class="box">
                <h3>Emotions Mean</h3>
                <p>{{ job_offer_info.emotions_mean }}</p>
            </div>
            <div class="box">
                <h3>Text Length</h3>
                <p>{{ job_offer_info.text_length }}</p>
            </div>
            <div class="box">
                <h3>Capital Letters Count</h3>
                <p>{{ job_offer_info.capital_letters_count }}</p>
            </div>
            <div class="box">
                <h3>Numbers Count</h3>
                <p>{{ job_offer_info.numbers_count }}</p>
            </div>
            <div class="box">
                <h3>Question Marks Count</h3>
                <p>{{ job_offer_info.question_marks_count }}</p>
            </div>
            <div class="box">
                <h3>Currency Signs Count</h3>
                <p>{{ job_offer_info.currency_signs_count }}</p>
            </div>
            <div class="box">
                <h3>Capital Words Count</h3>
                <p>{{ job_offer_info.capital_words_count }}</p>
            </div>
            <div class="box">
                <h3>Non Polish Character Count</h3>
                <p>{{ job_offer_info.non_polish_char_count }}</p>
            </div>
            <div class="box">
                <h3>Personal Info Keywords Count</h3>
                <p>{{ job_offer_info.personal_info_keywords_count }}</p>
            </div>
            <div class="box">
                <h3>Inspiring Keywords Count</h3>
                <p>{{ job_offer_info.inspiring_keywords_count }}</p>
            </div>
            <div class="box">
                <h3>Money Related Keywords Count</h3>
                <p>{{ job_offer_info.money_related_keywords_count }}</p>
            </div>
            <div class="box">
                <h3>Date</h3>
                <p>{{ job_offer_info.dodane_data }}</p>
            </div>
            <div class="box">
                <h3>Pay Low</h3>
                <p>{{ job_offer_info.pay_low }}</p>
            </div>
            <div class="box">
                <h3>Pay High</h3>
                <p>{{ job_offer_info.pay_high }}</p>
            </div>
            <div class="box">
                <h3>Pay Currency</h3>
                <p>{{ job_offer_info.pay_currency }}</p>
            </div>
            <div class="box">
                <h3>Pay Period</h3>
                <p>{{ job_offer_info.pay_period }}</p>
            </div>
            <div class="box text">
                <h3>Description</h3>
                <p>{{ job_offer_info.description }}</p>
            </div>
            <div class="box text">
                <h3>Preprocessed Description</h3>
                <p>{{ job_offer_info.preprocessed_description }}</p>
            </div>
            <div class="box text">
                <h3>Possible Email</h3>
                <p>{{ job_offer_info.possible_email }}</p>
            </div>
            <div class="box text">
                <h3>Possible Address</h3>
                <p>{{ job_offer_info.possible_address }}</p>
            </div>
            <div class="box text">
                <h3>Possible Phone Numbers</h3>
                <p>{{ job_offer_info.possible_phone_numbers }}</p>
            </div>
            <div class="box text">
                <h3>Link</h3>
                <p>{{ job_offer_info.link }}</p>
            </div>
            <div class="box text">
                <h3>Title</h3>
                <p>{{ job_offer_info.title }}</p>
            </div>
            <div class="box text">
                <h3>Category Tree Item</h3>
                <p>{{ job_offer_info.category_tree_item }}</p>
            </div>
            <div class="box text">
                <h3>User Profile Link</h3>
                <p>{{ job_offer_info.user_profile_link }}</p>
            </div>
            <div class="box text">
                <h3>Filters</h3>
                <p>{{ job_offer_info.filters }}</p>
            </div>
            <div class="box text">
                <h3>Lokalizacja</h3>
                <p>{{ job_offer_info.Lokalizacja }}</p>
            </div>
            <div class="box text">
                <h3>Wymiar Pracy</h3>
                <p>{{ job_offer_info.Wymiar_pracy }}</p>
            </div>
            <div class="box text">
                <h3>Typ Umowy</h3>
                <p>{{ job_offer_info.Typ_umowy }}</p>
            </div>
            <div class="box text">
                <h3>Explain</h3>
                <p>{{ job_offer_info.Explain }}</p>
            </div>
            {% endif %}
        </div>  
    </body>
</html>