<!DOCTYPE html>
<html>
<head>
    <title>Job Offer Analysis</title>
</head>
<menu>
    <span class="custom-logo">mISIe</span>
    <a href="{% url 'Dashboard:job_offer_analysis' %}" class="btn btn-secondary">Job Offer Analysis</a>
    <a href="{% url 'Dashboard:overall_analysis' %}" class="btn btn-secondary">Overall Analysis</a>
</menu>
<body>
    <h1>Job Offer Analysis</h1>
    <form method="post">
        {% csrf_token %}
        <label for="link">Enter job offer link:</label>
        <input type="url" name="link" id="link" required>
        <br>
        <input type="submit" value="Submit">
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    {% if correct_link %}
        <h2>Risk Value</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="link" value="{{ job_offer_info.link }}">
            <label for="risk">Risk value (1-5):</label>
            <input type="number" name="risk" id="risk" min="1" max="5" required>
            <br>
            <input type="submit" value="Submit Risk Value">
        </form>
    {% endif %}
    
    <h2>Job Offer Information</h2>
    <!-- {% if job_offer_info %}
        {% if job_offer_info.is_fake %}
            <p>FAKE</p>
        {% else %}
            <p>REAL</p>
        {% endif %}
        
        <h3>Job Offer Plots</h3> -->
        <!-- Display your generated plots here -->
        <!-- {% for plot in job_offer_plots %}
            {{ plot }}
            <br>
        {% endfor %}
    {% endif %} -->
    {% if job_offer_info %}
    <div class="box">
        <h3>Link</h3>
        <p>{{ job_offer_info.link }}</p>
    </div>
    <div class="box">
        <h3>Text</h3>
        <p>{{ job_offer_info.text }}</p>
    </div>
    <div class="box">
        <h3>Date</h3>
        <p>{{ job_offer_info.date }}</p>
    </div>
    <div class="box">
        <h3>Author</h3>
        <p>{{ job_offer_info.Author }}</p>
    </div>
    <div class="box">
        <h3>Length</h3>
        <p>{{ job_offer_info.length }}</p>
    </div>
    <div class="box">
        <h3>Uppercase Counter</h3>
        <p>{{ job_offer_info.uppercase_counter }}</p>
    </div>
    <div class="box">
        <h3>Exclamation Mark Counter</h3>
        <p>{{ job_offer_info.exclamation_mark_counter }}</p>
    </div>
    <div class="box">
        <h3>Currency Mark Counter</h3>
        <p>{{ job_offer_info.currency_mark_counter }}</p>
    </div>
    <div class="box">
        <h3>Non Polish Counter</h3>
        <p>{{ job_offer_info.non_polish_counter }}</p>
    </div>
    <div class="box">
        <h3>Emotional Words Counter</h3>
        <p>{{ job_offer_info.emotional_words_counter }}</p>
    </div>
    <div class="box">
        <h3>Possible Contact</h3>
        <p>{{ job_offer_info.possible_contact }}</p>
    </div>
    <div class="box">
        <h3>Possible Mail</h3>
        <p>{{ job_offer_info.possible_mail }}</p>
    </div>
    <div class="box">
        <h3>Categories</h3>
        <p>{{ job_offer_info.categories }}</p>
    </div>
    <div class="box">
        <h3>Fake Probability</h3>
        <p>{{ job_offer_info.fake_probability }}</p>
    </div>
    <div class="box">
        <h3>Risk Value</h3>
        <p>{{ job_offer_info.risk_value }}</p>
    </div>
{% endif %}
</body>
</html>