{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Overall Analysis</title>
</head>
<link rel="stylesheet" href="{% static 'Dashboard/style.css' %}">
<menu>
    <div class="custom-logo-container">
        <span class="custom-logo">mISIe</span>
    </div>
    <br>
    <a href="{% url 'Dashboard:job_offer_analysis' %}" class="btn btn-secondary">Job Offer Analysis</a>
    <a href="{% url 'Dashboard:overall_analysis' %}" class="btn btn-secondary">Overall Analysis</a>
</menu>
<body>
    <h1>Overall Analysis</h1>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Display your generated plots here -->
    {% for plot in plot_data %}
        {{ plot }}
        <br>
    {% endfor %}
    <div id="plot-div">
        {{ plot_html|safe }}
    </div>
</body>
</html>